<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nuevo vehiculo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nuevo vehiculo</ion-title>
    </ion-toolbar>
  </ion-header>
  <form (ngSubmit)="nuevo(nuevoVehiculo)" #nuevoForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Placa</ion-label>
        <ion-input type="text" name="placa" [(ngModel)]="nuevoVehiculo.placa" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-select label="Tipo"  cancelText="Cancelar" okText="Seleccionar"  (ionChange)="setTipo($event)" label-placement="floating" placeholder="Seleccione el tipo de vehiculo">
          <ion-select-option value="Moto">Moto</ion-select-option>
          <ion-select-option value="Carro">Carro</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Año</ion-label>
        <ion-input type="text" name="anio" [(ngModel)]="nuevoVehiculo.anio" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Color</ion-label>
        <ion-input type="text" name="color" [(ngModel)]="nuevoVehiculo.color" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Marca</ion-label>
        <ion-input type="text" name="marca" [(ngModel)]="nuevoVehiculo.marca" required></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <ion-button color="primary" expand="block" type="submit" [disabled]="!nuevoForm.form.valid">Crear
        vehiculo</ion-button>
    </div>
  </form>
</ion-content>